form {
  border-radius: 6px;
  background-color: lightgray;
  color: black;
  padding: 20px;
  margin-right: auto;
  margin-left: auto;
  margin-top: 5vh;
  text-align: center;
}

h2 {
  margin-top: 0px;
}

input {
  width: 75%;
  padding: 8px 8px;
  margin: 8px 0px;
  border: none;
  border-radius: 6px;
  background-color: white;
}

.psw {
  text-align-last: right;
}

input[type="submit"] {
  width: 50%;
  background-color: #1bbc86;
  border: 5px;
  color: black;
  text-decoration: none;
  margin: 4px 4px;
  cursor: pointer;
}

.registerButton {
  width: 250% !important;
  background-color: #ffff44;
  border: 5px;
  color: black;
  text-decoration: none;
  margin: 4px 4px;
  cursor: pointer;
  text-align: center;
  border-radius: 6px;
  padding: 8px;
}

.registerButton:hover {
  background-color: black;
  color: white;
}

input[type="submit"]:hover {
  background-color: black;
  color: white;
}

input[type="checkbox"] {
  float: left;
  width: 20px;
  margin-left: 0px !important;
}

.options {
  width: 75%;
  display: flex;
  justify-content: space-between;
  margin: auto;
}

.buttons {
  display: inline-flex;
  width: 75%;
}

.remember {
  display: flex;
}
/* .register {
  
} */
